// template: https://medical-admin-template.multipurposethemes.com/main/forms_advanced.html
// stylesheet cho input, select, textarea, checkbox,...
// form-control: ví dụ https://getbootstrap.com/docs/5.1/forms/form-control/ chuan bi css

.form {
  @apply mx-4 ml-0 mr-0 p-6 rounded-lg shadow-lg bg-white pb-4;
  h3 {
    @apply border-b-2 mb-12 pb-4 text-xl;
  }
}

.form-login {
  @apply flex p-8 justify-center items-center h-screen;
  background-image: url("/images/bg-1.jpg");

  form {
    @apply w-[500px] h-[720px] bg-white rounded-2xl lg:p-8 py-8 lg:shadow-2xl;
    h2 {
      @apply text-[1.6rem] lg:text-[2rem] text-primary pb-8
    }
  }
}


//.form-add-staff {
//  @apply flex p-8 justify-center items-center h-screen;
//  background-image: url("/images/bg-1.jpg");
//
//  form {
//    @apply w-[700px] h-[720px] flex flex-wrap bg-white rounded-2xl lg:p-8 py-8 lg:shadow-2xl;
//    h2 {
//      @apply text-[1.6rem] lg:text-[2rem] text-primary pb-8
//    }
//  }
//}

.form-group {
  @apply mb-8 lg:mb-8;

  label {
    @apply block mb-2 text-sm font-medium;
  }

  p {
    @apply text-sm font-medium tracking-[0.0333em] leading-6 text-left text-danger;
    margin: 3px 14px 0 4px;
  }
}

.form-control-input {
  @apply
  bg-gray-100
  border border-gray-300
  text-black rounded-lg
  focus:outline-white
  block w-full p-2.5;
}

.form-radio-input {
  @apply mb-8 ;
  p {
    @apply mb-2
  }

  div {
    @apply flex
  }
}

.form-textarea-input {
  @apply mb-3 xl:w-96;
  label {
    @apply inline-block mb-2 text-black;
  }

  textarea {
    @apply resize-none block w-full px-3 py-1.5 text-base font-normal
    text-black bg-white bg-clip-padding border border-solid border-black rounded
    transition ease-in-out m-0 focus:text-black focus:bg-white
    focus:border-primary-light focus:outline-none
  }
}

// custom react-select
.css-1s2u09g-control {
  @apply rounded-sm h-[42px] border border-gray-300 ;
  border-color: rgb(228 230 239 / var(--tw-border-opacity)) !important;
  background-color: #f3f6f9 !important;
}