// template: https://medical-admin-template.multipurposethemes.com/main/forms_advanced.html
// stylesheet cho input, select, textarea, checkbox,...
// form-control: ví dụ https://getbootstrap.com/docs/5.1/forms/form-control/ chuan bi css

.form {
  @apply mx-4 ml-0 mr-0 p-6 rounded-lg shadow-lg bg-white;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #e4e6ef;

  h3 {
    @apply border-b-2 mb-4 pb-4 text-xl leading-[1.2rem] text-[1.28rem];
  }
}

.form-kskdk {
  @apply w-full p-4;
  &__tabs {
    @apply grid grid-cols-6 gap-x-4;
    div {
      @apply rounded-[5px] cursor-pointer border border-gray-100;
      padding: 0.5rem 0.5rem;
      p {
        @apply my-auto mx-auto text-center;
      }
    }
  }
}

.form-login {
  @apply flex p-8 justify-center items-center h-screen;
  background-image: url("/images/bg-1.jpg");

  form {
    @apply w-[500px] h-[720px] bg-white rounded-2xl lg:p-8 py-8 lg:shadow-2xl;
    h2 {
      @apply text-[1.6rem] lg:text-[2rem] text-primary pb-8
    }
  }
}

.form-group {
  @apply mb-4;

  label {
    @apply block mb-2 text-base ;
  }

  p {
    @apply text-sm font-medium tracking-[0.0333em] leading-6 text-left text-danger;
    margin: 3px 14px 0 4px;
  }
}

.form-control-input {
  @apply
  h-[33.5px]
  border border-[#8d8d8d]
  text-black text-base font-medium
  rounded-[5px]
  block w-full leading-6
  disabled:bg-gray-100 disabled:text-gray-400 disabled:border-gray-200 disabled:shadow-none
  appearance-none;
  padding: 0.375rem 0.75rem;
  background-clip: padding-box;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-radio-input {
  @apply mb-8 ;
  p {
    @apply mb-2
  }

  div {
    @apply flex
  }
}

.form-textarea-input {
  @apply mb-3 xl:w-96;
  label {
    @apply inline-block mb-2 text-black;
  }

  textarea {
    @apply resize-none block w-full px-3 py-1.5 text-base font-normal
    text-black bg-white bg-clip-padding border border-solid border-black rounded
    transition ease-in-out m-0 focus:text-black focus:bg-white
    focus:border-primary-light focus:outline-none
    border border-[#8d8d8d]
  }
}

// custom react-select
.css-1s2u09g-control {
  @apply rounded-md h-[39px] ;
  min-height: 0 !important;
  height: 34px;
  border: 1px solid #8d8d8d !important;
}