.header {
  @apply fixed flex inset-x-0 top-0 bg-white max-h-[125px] z-[200];
}

.logo-mini {
  @apply hidden md:block md:w-[4.4rem] lg:w-[4.15rem] pt-[13px];
}

.logo-box {
  @apply flex items-center justify-center float-left
  md:w-[26.8rem] lg:w-[20.1rem] ;
  border-bottom: 1px solid #fbfaff;
  border-right: 1px solid rgba(72, 94, 144, 0);
  background: #fbfaff;
}

.logo {
  @apply flex justify-center;
  height: 80px;
  padding: 0 15px;
}