.main-sidebar {
  @apply fixed top-0 left-0 min-h-full grid-cols-2 bg-primary-light pt-20;
  transition: all 0.5s ease;
  //z-index: 100;
  border-right: 0 solid rgba(72, 94, 144, .16);
  div {
    @apply pb-2.5 relative w-full
  }
}

.main-sidebar-open {
  @apply fixed top-0 left-0 min-h-full w-75
  duration-300 ease-in transition-all;
  padding-top: 80px;
  z-index: 100;
  border-right: 0 solid rgba(72, 94, 144, .16);
  background-color: #fbfaff;
}

.main-sidebar-mini {
  @apply fixed top-0 left-0 min-h-full w-16;
  padding-top: 80px;
  z-index: 100;
  border-right: 0 solid rgba(72, 94, 144, .16);
  background-color: #fbfaff;
  @screen md {
    @apply flex;
  }
}


.main-sidebar-mobile {
  @apply fixed top-0 left-0 min-h-full w-16;
  padding-top: 80px;
  z-index: 100;
  transition: all 0.5s ease;
  border-right: 0 solid rgba(72, 94, 144, .16);
  background-color: #fbfaff;
  @screen md {
    @apply flex;
  }
}

.main-sidebar-tablet {
  @apply fixed top-0 left-0 min-h-full w-16 ;
  padding-top: 80px;
  z-index: 100;
  transition: all 0.5s ease;
  border-right: 0 solid rgba(72, 94, 144, .16);
  background-color: #fbfaff;
  @screen md {
    @apply flex;
  }
}

.sidebar-menu {
  @apply overflow-hidden whitespace-nowrap list-none pb-7;
  li {
    @apply relative my-1.5 mx-1.5 px-2.5 cursor-pointer ;
    > a {
      @apply text-black opacity-90 whitespace-nowrap items-center font-medium py-2.5 px-1.5 leading-6 block
      hover:text-primary transition duration-500 ;
      > i {
        @apply w-8.5 leading-7 text-xl inline-block align-middle text-gray-100 text-center rounded-xl mr-2.5;
      }

      > span {
        @apply relative top-[3px] text-base;
      }
    }
  }
}

.icon-item {
  @apply h-6 w-6 inline mr-4;
}

.sidebar-dropdown {
  @apply h-4 w-4 inline absolute top-[-1.1rem] right-0
  hover:text-primary transition duration-500 ;
}

.sidebar-copyright {
  div {
    @apply text-center;
  }
}