// .table {
//   // template: https://medical-admin-template.multipurposethemes.com/main/tables_simple.html
//   // template: https://medical-admin-template.multipurposethemes.com/main/patients.html
// }

.container-table {
  @apply w-fit lg:w-full relative h-auto bg-white flex flex-col mr-[20px] rounded-xl
  pt-[20px] p-6;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #e4e6ef;

  .table {
    @apply mt-[6px] mb-[6px] w-[1000px] lg:w-full;

    thead {
      tr td {
        @apply text-center font-bold w-auto mt-[50px] h-[50px] p-4 text-black select-none ;
        height: 50px !important;
        border-bottom: 1px solid black;
      }
    }

    tbody {
      tr {
        @apply hover:text-primary ;
        td {
          @apply text-center text-black select-none w-auto p-4 items-center h-[52.8px];
          border-bottom: 1px solid #DDDDDD;
          vertical-align: middle;
        }
      }
    }
  }
}


//.action > .ls-action {
//  display: none;
//}
//
//.action:focus + .ls-action {
//  display: block;
//}
//
//.btn-action:focus + .ls-action {
//  display: block;
//}