// .table {
//   // template: https://medical-admin-template.multipurposethemes.com/main/tables_simple.html
//   // template: https://medical-admin-template.multipurposethemes.com/main/patients.html
// }

.container-table {
  @apply w-fit lg:w-full relative h-auto bg-white flex flex-col mr-[20px] rounded-xl
  pt-[20px] p-6;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #e4e6ef;

  .table {
    @apply mt-[6px] mb-[6px] w-[1000px] lg:w-full;
    border-collapse: separate !important;

    thead {
      tr th {
        @apply font-bold p-3 text-black select-none ;
        border-bottom: 1px solid #212529;
      }
    }

    tbody {
      tr {
        @apply hover:text-primary ;
        td {
          @apply text-black select-none p-3;
          border-bottom: 1px solid #DDDDDD;
          vertical-align: middle;
        }
      }
    }
  }
}


//.action > .ls-action {
//  display: none;
//}
//
//.action:focus + .ls-action {
//  display: block;
//}
//
//.btn-action:focus + .ls-action {
//  display: block;
//}