// .table {
//   // template: https://medical-admin-template.multipurposethemes.com/main/tables_simple.html
//   // template: https://medical-admin-template.multipurposethemes.com/main/patients.html
// }

.container-table {
  @apply w-[1000px] lg:w-full relative h-auto bg-white flex flex-col mr-[20px] rounded-xl
  shadow-2xl pt-[20px] px-4 ;
}

.table {
  @apply mt-[6px] mb-[6px] w-[1000px] lg:w-full;

  tr th {
    @apply h-[68px] w-auto mt-[50px] pb-2 text-black select-none;
    border-bottom: 1px solid black;
  }

  tr td {
    @apply text-black select-none w-auto items-center h-[68px];
    border-bottom: 1px solid #DDDDDD;
  }
}

.action > .ls-action {
  display: none;
}

.action:focus + .ls-action {
  display: block;
}

.btn-action:focus + .ls-action {
  display: block;
}