@tailwind base;
@tailwind components;

//custom components
@import './components/header';
@import './components/navbar';
@import './components/buttons';
@import './components/badges';
@import './components/sidebar';
@import './components/table';
@import './components/pagination';
@import './components/form';
@import './components/card';
@import './components/modal';
@import './pages/login';
@import './icomoon/style.css';
@tailwind utilities;

@layer base {

  // body {
  //   @apply text-black;
  //   font-family: 'IBM Plex Sans', sans-serif;
  //   font-size: 14px;
  // }

  // h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  //   font-weight: 400;
  //   line-height: 1.5;
  // }

  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }

  .content {
    @apply pb-24 mt-24 px-4;
    h4 {
      @apply text-[1.2857142857142858rem] mb-4;
      line-height: 1.2;
      font-weight: 400;
      padding: 0 1.5rem 0 0;
    }
  }

  .title-content {
    @apply text-[1.2857142857142858rem];
    padding: 0 1.5rem 0 0;
  }

  .grid-container {
    @apply grid md:grid-cols-2 lg:grid-cols-4 gap-0 md:gap-x-4;
  }
}
